@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600&display=swap');
:root{
    --green:rgb(38, 186, 38);
    --black:#130f40;
    --light-color:#666;
    --box-shadow:0 .5rem 1.5rem rgba(0,0,0,.1);
    --border:.2rem solid rgba(0,0,0,.1);
    --outline:.1rem solid rgba(0,0,0,.1);
    --outline-hover:.2rem solid var(--black);
}

main{
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 170px;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
    text-transform: none;
    transition: all .2s linear;
}
.btn{
    margin-top: 1rem;
    display: inline-block;
    padding: .8rem 3rem;
    font-size: 1.5rem;
    border: .2rem solid var(--black);
    color:var(--black);
    cursor: pointer;
    border-radius: 2rem;
}
.btn:hover{
    background: var(--green);
    color:#fff;
}
.heading{
    text-align: center;
    padding: 2rem 0rem;
    padding-bottom: 3rem;
    font-size: 3.5rem;
    color:var(--black);
}
.heading span{
    background: var(--green);
    color:#fff;
    display: inline-block;
    padding: .5rem 3rem;
    clip-path: polygon(100% 0,93% 50%,100% 99%,0 100%,7% 50%,0% 0%);
}

.features .box-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(50rem, 1fr));
    gap: 1.5em;
}

.features .box-container .box{
    padding: 3rem 2rem;
    background: #fff;
    border-radius: .5rem;
    outline: var(--outline);
    outline-offset: -1rem;
    text-align: center;
    box-shadow: var(--box-shadow);
}
.features .box-container .box:hover{
    outline: var(--outline-hover);
    outline-offset: 0rem;
}

.features .box-container .box img{
    margin: 1rem;
    height:32rem;
}

.features .box-container .box h3{
    font-size: 2.5rem;
    line-height: 1.8rem;
    color: var(--black);
}

.features .box-container .box p{
    font-size: 1.5rem;
    line-height: 1.8rem;
    color: var(--light-color);
    padding: 2rem 0;
}

.features .box-container .box .price{
    font-size: 2rem;
    color:var(--light-color);
    padding: .5rem 0;
}
.features .box-container .box .stars i{
    font-size: 1.7rem;
    color:rgb(252, 159, 29);
    padding: .5rem 0;
}


